
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



.price {
    text-align: right;
    color: yellowgreen
}

.price:hover{
    color:rgb(255, 0, 0)
}


a:hover {
    color: hotpink;
}

img:hover {
    border-color: coral;
}

.content {
  margin-top: 100px;
}

.container{
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .header, .fixed-footer{
	width: 100%;
	position: fixed;        
	background: #333;
	padding: 10px 0;
	color: #fff;
}
.fixed-header{
	top: 0;
}

/* Some more styles to beutify this example */
nav a{
	color: #fff;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
.container p{
	line-height: 200px; /* Create scrollbar to test positioning */
}