
.price {
    text-align: right;
    color: yellowgreen
}

.price:hover{
    color:rgb(255, 0, 0)
}


a:hover {
    color: hotpink;
}

img:hover {
    border-color: coral;
}

.header {
  position: fixed;
}

.content {
  margin-top: 100px;
}